.container,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.card {
  background: pink;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
}
.card img {
  height: 80%;
}
