body {
  background-image: url(./btsBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  user-select: none;
}
.card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.609),
    rgba(255, 255, 255, 0.277)
  );
  backdrop-filter: blur(8px);
  width: 50vw;
  height: 80vh;
  border-radius: 20px;
}
.BTSLogo {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  height: 80vh;
}
.qPosketLogo {
  position: absolute;
  opacity: 0.3;
  z-index: 2;
  height: 25vh;
 
}
.productImage {
  height: 80vh;
  z-index: 3;
 
}
h1 {
  font-size: 2vw;
}
