body {
  background-image: url(./btsBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
padding:4em;

}
.card {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.609),
    rgba(255, 255, 255, 0.277)
  );
  backdrop-filter: blur(8px);
 padding:20px 30px;
 width: 60%;
 height: auto;
  border-radius: 20px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  user-select: none;
  flex-direction: row-reverse;
  flex-direction: column;
}
.BTSLogo {
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  height: 80vh;
}
.qPosketLogo {
  position: absolute;
  opacity: 0.3;
  z-index: 0;
  height: 10vh;
 top:10vh;
 left:30vw;
}
.productImage {
  max-width: 30%;
  height: auto;
  z-index: 3;
 padding:50px;
 
}
.productInfo {
  padding:50px;
  max-width: 45%;
  height: auto;
}
h1 {
  font-size: 3em;
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h2{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3, h4{
  font-family: "Poppins", sans-serif;
  font-weight:400;
  font-style: normal;
}
@media screen and (max-width: 520px){
  .container{
    padding:5px;
  }
  .card{
    flex-direction: column;
    padding:1px;
    width:100%
  }
  .productImage{
    max-width: 90%;
    padding:5px;
  }
  .productInfo{
    max-width: 90%;
    padding:5px;
  }
}